# folders
build/
test/
.dart_tool/
.git/
.github/
tests/
.local-chrome/

# files
*.sqlite
*.dll
*.md
*.lock
*.sh

.dockerignore
.gitignore
.packages

devtools_options.yaml
Dockerfile
database.g.dart
Makefile
LICENSE



